:root {
    --firstColor: rgb(95, 244, 255);
    --secondColor:rgba(255, 0, 235, 1);
}

body{
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
    background-color: black;
    color:white;
    
}
/* .container-fluid{
    background:url("images/backgroun-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */
ul > li{
    list-style-type:none;
}
.nav-bar-bg{
    background: linear-gradient(30deg,var(--firstColor),var(--secondColor));
    box-sizing:border-box;
    margin:0px ;
    padding:0px;
    
}

@media screen and (width<668px){
    .nav-siderbar-btn{
        display:block;
    }
}
@media screen and (width>668px){
    .nav-siderbar-btn{
        display:none;
    }
}

.theme-heading{
    
    background: linear-gradient(to right, var(--firstColor), var(--secondColor));
    display:inline;
     -webkit-background-clip :text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder 30px;
    /* font-size:30px; */
    
}

.Dynamic-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, var(--firstColor), var(--secondColor));
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* font-size: 3vw; */
}
.Main-title h1 {
    font-size: 6.5vw;
    background: linear-gradient(to bottom, var(--firstColor), var(--secondColor));
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*     text-shadow: 5px 5px 4px black;*/
}
.card-profile-details{
    /* border:1px solid red; */
    height: 100%;
    width:60%;
    padding:5px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    /* border-left-style: solid;
    border-left-width: 2px;
    border-left-color: silver;
    margin:3px; */
    /* display: inline-block; */
}
.card-profile-details p{
 color:gray;
}
.card-profile-details h4{
    display: inline-block;
    padding-bottom:7px;
    border-bottom-style:solid;
    border-bottom-color: var(--firstColor);
    border-bottom-width: 2px;
}
.aboutus-card{
    margin:10px;
    /* border:1px solid var(--firstColor); */
    box-shadow:0px 0px 5px gray;
    height:220px;
    padding:5px;
    border-radius:120px;
    display:flex;
    /* width:500px; */
}
.card-img{
    
    background-position: center;
    background-size: cover;
    width:40%;
    height:100%;
    border-top-left-radius:120px;
    border-bottom-left-radius:120px;
    /* display:inline-block; */
}